<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.willow.alfred.multiline-to-single</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0B91C339-7244-44FA-A908-8B352EC372A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CEC71A33-16FC-47AC-82AD-CA459A1143F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>274DE1AB-3C38-490D-ABA7-B1A5BF12D6AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B91C339-7244-44FA-A908-8B352EC372A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEC71A33-16FC-47AC-82AD-CA459A1143F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBA376DD-E3B3-4AC5-A858-3CCD7BA9AD5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>revolyw</string>
	<key>description</key>
	<string>将多行文本转为单行，可选择包裹符与分隔符</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Multiline to Single</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>m2s</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>转换中…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>filter.py</string>
				<key>subtext</key>
				<string>多行 → 单行（默认读剪贴板）</string>
				<key>title</key>
				<string>Multiline to Single</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0B91C339-7244-44FA-A908-8B352EC372A4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CEC71A33-16FC-47AC-82AD-CA459A1143F1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>已复制到剪贴板</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EBA376DD-E3B3-4AC5-A858-3CCD7BA9AD5B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>274DE1AB-3C38-490D-ABA7-B1A5BF12D6AD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keyword m2s: convert multiline clipboard/selection text into one line.
Use arrow keys to choose wrap/separator mode, then Enter to copy.

Modes:
1. Single quotes + comma
2. Double quotes + comma
3. Single quotes + comma+space
4. Double quotes + comma+space

Homepage: https://github.com/revolyw/alfred-multiline-to-single
License: MIT</string>
	<key>uidata</key>
	<dict>
		<key>0B91C339-7244-44FA-A908-8B352EC372A4</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>274DE1AB-3C38-490D-ABA7-B1A5BF12D6AD</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>CEC71A33-16FC-47AC-82AD-CA459A1143F1</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>EBA376DD-E3B3-4AC5-A858-3CCD7BA9AD5B</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/revolyw/alfred-multiline-to-single</string>
</dict>
</plist>
